body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* home */
.home{
 margin: 50px 0;
}


.login-card {
  width: 500px;
  padding: 30px 30px;
  margin: 50px auto;
  border-color: lightgray;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}

.admin {
  width: 90%;
  margin: 20px auto;
  display: grid;
}

/* invoices */
.exchange{
  width: 90%;
  margin: 20px auto;
  display: grid;
}